/* Style for the accordion container */
.accordion {
    display: flex;
    flex-direction: column;
}

/* Style for the accordion toggle button */
.accordion-toggle {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for the accordion content (hidden by default) */
.accordion-content {
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Style for the flex container inside the accordion */
/* .flex-container {
    display: flex;
    flex-direction: row;
} */



/* Style for each flex item */
.flex-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/* Clicked (active) state of the accordion */
.active {
    display: block;
}



.mydiv {
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;

}


.mydiv img {
    max-height: 25em;
    margin: .5em;



}